@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

@layer components {
  .icon {
    margin-left: 10px;
    font-size: 25px;
    cursor: pointer;
  }

  .App {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Neucha", cursive;
  }

  /* .container{
    display: flex;
    width: 95%;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
  } */

  .todos{
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: fit-content;
    margin: 10px 0;
    border-radius: 5px;
    background-color: rgb(58, 189, 198);
  }

  .todos__heading{
    font-size: 30px;
    color: white;
  }

  .remove {
    background-color: rgb(232, 83, 83);
  }

  .dragactive {
    background-color: rgb(47, 204, 215);
  }

  .dragcomplete {
    background-color: rgb(234, 56, 56);
  }
  
  .drag {
    box-shadow: 0 0 20px black;
  }
}